<h1><%= title %></h1>

<%- messages() %>
<div class="addClassification">
  <a href="add-classification">Add New Classification</a>
</div>

<div class="addInventory"><a href="add-inventory">Add New Vehicle</a></div>

<h2>Manage Inventory</h2>
<p>Choose a Classification to see those inventory items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enable to use this page</noscript>

<script src="../../js/inventory.js"></script>
